.contact {
    display: flex;
    width: 70vw;
    margin: 0 auto;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 14px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.contact-content h2 {
    color: var(--primary-color);
    font-family: var(--default-font);
}

.contact-content ul li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 20px 0;
    color: var(--quaternary-color);
    font-family: var(--default-font);
}

.contact-content ul li i {
    font-size: 24px;
    margin-right: 12px;
}

.contact-content ul li span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.contact-content ul li i,
a {
    color: var(--quaternary-color);
    text-decoration: none;
    transition: ease 1s;
}

.contact-content li:hover {
    cursor: pointer;
}

.contact-content li span:hover {
    text-decoration: underline;
    color: #abdde4;
    transition: ease-in 200ms;
}

.back-to-top {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
}

.back-to-top:hover {
    background-color: var(--secondary-color);
}