.nav-container {
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    background-color: var(--secondary-color);
    padding: 12px 10px;
    border-radius: 14px;
    margin-bottom: 20px;
    width: 70vw;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.navbar ul {
    display: flex;
    width: auto;
    list-style: none;
    flex-wrap: wrap;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    font-family: var(--default-font);
    font-weight: 400;
    color: var(--quaternary-color);
    font-size: 18px;
}

.navbar a:hover {
    color: var(--primary-color);
    transition: ease 200ms;
}

.presentation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    background-color: var(--secondary-color);
    border-radius: 14px;
    padding: 26px;
    width: 70vw;
    margin-bottom: 20px;
}

.presentation-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    left: 0;
    padding: 20px;
}

.presentation-content h1 {
    color: var(--primary-color);
    font-family: "Oswald", serif;
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.presentation-content p {
    color: var(--quaternary-color);
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 1.2rem;
}

.photo-content img {
    width: 280px;
    margin-right: 80px;
    animation: move-up-down 4s ease-in-out infinite;
}

@keyframes move-up-down {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }
}

.presentation-button {
    border: none;
    cursor: pointer;
    margin: 12px 8px 0 0;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--button-font-color);
    font-weight: 800;
}

.presentation-button:hover {
    color: #e6e6e6;
    transition: ease 200ms;
}

.presentation-content span {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.presentation-content span a {
    text-decoration: none;
    cursor: pointer;
    color: var(--quaternary-color);
    margin: 10px;
    padding: 12px 0 0 0;
    font-size: 24px;
}

.presentation-content span a:visited {
    color: var(--quaternary-color);
}

.presentation-content span a:focus {
    color: var(--quaternary-color);
    outline: none;
}

.presentation-content span a:hover {
    color: var(--primary-color);
    transition: ease 200ms;
}