@media (max-width: 768px) {
    .nav-container, .presentation-container {
        max-width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .navbar ul {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 768px) {
    .photo-content img {
        width: 260px;
    }  
}

@media screen and (max-width: 600px) {
    .photo-content img {
        width: 220px;
    }  
}

@media screen and (max-width: 550px) {
    .photo-content img {
        display: none;
    }  
}