:root {

    /* Colors */

    --primary-color: #00b4cc;
    --secondary-color: #29292b;
    --terciary-color: #19191a;
    --quaternary-color: #f0f0f0;
    --quinary-color: #000000;
    --button-font-color: #424242;

    /* Fonts */

    --default-font: "Poppins", serif;
    --title-font: "Oswald", serif;

}